.form__save-button {
  padding: 0;
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #000;
  transition: opacity .3s ease;
}

.form__save-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}