.popup__container {
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .popup__container {
    padding: 25px 22px;
    max-width: 282px;
    min-height: 322px;
  }
}