.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 282px;
	padding: 0 0 28px;
	box-sizing: border-box;
	border-radius: 10px;
	background: #fff;
}
